/* ProductsPage.css */

/* Cột menu trái */
.menu-list {
    width: 220px;
    border-right: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 8px 0 0 8px;
    padding: 10px 0;
}
.menu-sub {
    background-color: #e5e6e8 !important; /* xám nhạt */
}

/* Menu item */
.menu-item {
    padding: 12px 20px;
    cursor: pointer;
    background-color: #f0f2f5;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin: 4px 10px;
}

.menu-item:hover {
    background-color: #e9ecef;
    transform: translateX(4px);
}

.menu-item.active {
    background-color: #0d6efd !important;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Cột món ăn */
.dish-list {
    flex: 1;
    padding: 20px;
}

/* Ẩn/hiện từng danh mục món */
.dish-list > div {
    /*display: none;*/
    animation: fadeIn 0.3s ease-in-out;
}

.dish-list > div.active {
    display: block;
}

/* Card món ăn đẹp hơn */
.dish-list .card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s, box-shadow 0.2s;
}

.dish-list .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
